.blogs-btn {
  &.sen-academy-btn-default,
  .sen-academy-radio-button-wrapper {
    font-weight: 600;
    font-size: 16px !important;
    border: none !important;
    background-color: transparent !important;
    &:active,
    &:focus,
    &.sen-academy-radio-button-wrapper-checked {
      border-color: transparent !important;
      color: #f9575e !important;
      background: rgba(249, 87, 94, 0.1) !important;
    }
  }
}
.banner-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.content-img {
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
  img {
    width: 100%;
    object-fit: contain;
  }
}
.blog-banner {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 575px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.safe-space {
  height: 150px;
  @media (max-width: 992px) {
    height: 80px;
  }
  @media (max-width: 575px) {
    height: 0;
  }
}
.post-card {
  .sen-academy-image {
    width: 100%;
    img {
      object-fit: cover;
    }
  }
}
.warp-post-card {
  min-height: 147px !important;
  &-title,
  &-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &-title {
    -webkit-line-clamp: 2;
  }
  &-description {
    -webkit-line-clamp: 2;
  }
}

.post-content {
  img {
    border-radius: 8px;
  }
  & *:not(h1, h1 *, h2, h2 *, h3, h3 *, pre, pre *, i, i *) {
    font-size: 20px;
  }
  h1,
  h1 * {
    font-size: 34px;
  }
  pre,
  pre * {
    font-size: 14px;
  }
  i,
  i * {
    color: #7a7b85;
    font-size: 18px;
    font-weight: 300;
  }
  p {
    margin-bottom: 6px !important;
  }
  table {
    tbody,
    td,
    th {
      border: 1px solid;
      padding: 4px 12px;
    }
    tr {
      border-bottom: 1px solid;
      vertical-align: baseline;
    }
    th {
      text-align: center;
    }
  }
}
#dark {
  .post-content {
    i,
    i * {
      color: #a6a7ad;
    }
  }
}
