.blogs-btn {
  &.sen-academy-btn-default,
  .sen-academy-radio-button-wrapper {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    &:active,
    &:focus,
    &.sen-academy-radio-button-wrapper-checked {
      border-color: transparent !important;
      color: #f9575e !important;
      background: rgba(249, 87, 94, 0.1) !important;
    }
  }
}
.post-img {
  .sen-academy-image,
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
